body {
	background-color: rgb(107, 192, 213);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.heading {
	font-family: 'Pacifico', cursive;
	margin: 35px auto 20px;
    text-align: center;
    font-size: 35px;
}


hr {
	border-top: 2px solid black;
	width: 40%;
	margin-bottom: 55px;
}

.main {
	width: 50vw;
	margin: auto;
	padding: 30px;
	border-radius: 15px;
    border-color: black;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

label {
	font-size: 30px;
}


.btn {
	width: 200px;
    height: 30px;
    margin-top: 20px;
}

#finalAmount {
	font-family: 'Lobster', cursive;
	display: none;
	margin: 50px auto;
}

#finalAmount h2 {
	font-size: 50px;
}

.finalValue {
	font-family: 'Amiri', serif;
}


